/* HELPERS */
/* Resetk */
* {
  margin: 0px;
  padding: 0px; }

a {
  color: inherit;
  font-size: inherit;
  background-color: transparent; }

/* Typo */
/* FontFace Gilroy */
@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy/Gilroy-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("/fonts/Gilroy/Gilroy-RegularItalic.otf") format("otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("/fonts/Gilroy/Gilroy-Semibold.otf") format("otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Gilroy-SemiboldItalic";
  src: url("/fonts/Gilroy/Gilroy-SemiboldItalic.otf") format("otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy/Gilroy-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Gilroy-LightItalic";
  src: url("/fonts/Gilroy/Gilroy-LightItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic; }
/* FontFace Recoleta */
@font-face {
  font-family: "Recoleta-SemiBold";
  src: url("/fonts/Recoleta/Recoleta-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Recoleta-Bold";
  src: url("/fonts/Recoleta/Recoleta-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal; }
body {
  font-family: 'Gilroy-Regular', 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #00012E; }

strong {
  font-weight: 600; }

h1 {
  font-family: 'Recoleta-Bold', 'Recoleta', serif;
  font-weight: 700;
  font-size: 48px;
  color: #00012E; }

h2 {
  font-family: 'Recoleta-SemiBold', 'Recoleta', serif;
  font-weight: 600;
  font-size: 32px;
  color: #00012E; }

h3 {
  font-family: 'Gilroy-Semibold', 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #00012E; }

h4 {
  font-family: 'Gilroy-Light', 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #00012E; }

p {
  font-size: 18px;
  line-height: 2em;
  font-weight: 30000;
  color: #00012E; }

#hero .conteneur, #presentation .conteneur, #detail .conteneur, #marques .conteneur, footer div:first-child div {
  display: flex;
  flex-direction: column; }

footer, footer div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center; }

header, header nav, header nav ul, #detail .conteneur .scannez .mosaique, #detail .conteneur .participez .mosaique, #detail .conteneur .scannez .action, #detail .conteneur .participez .action, #detail .conteneur .comparez .mosaique, #detail .conteneur .action, #valeur .conteneur, footer div:first-child nav {
  display: flex;
  flex-direction: row; }

footer div:first-child, footer div:first-child nav ul {
  display: flex;
  flex-direction: row;
  align-items: center; }

#hero, #presentation, #detail, #valeur, #marques {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* STRUCTURE */
/* Body */
body {
  border: solid #00012E 4px; }
  body .conteneur {
    width: 1100px; }

/* Nav */
header {
  background: #00012E;
  height: 80px;
  justify-content: center;
  padding: 0 24px; }
  header nav {
    width: 100%;
    justify-content: space-between; }
    header nav img {
      max-width: 250px; }
    header nav hr {
      color: #FFFFFF;
      border: 2px dashed; }
    header nav ul {
      width: 50%;
      align-items: center;
      justify-content: space-around; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 18px; }

/* Main */
#hero {
  padding: 80px 0px;
  box-sizing: border-box;
  background-image: url("../img/fond-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #hero .conteneur {
    align-items: center; }
    #hero .conteneur h1 {
      font-size: 56px;
      width: 65%;
      text-align: center; }
    #hero .conteneur h2 {
      margin-top: 32px; }
    #hero .conteneur p {
      margin-top: 16px;
      width: 75%;
      text-align: center; }
    #hero .conteneur .button {
      margin-top: 24px; }

#presentation {
  background: #FFDCC9;
  border-top: dashed #00012E 4px;
  border-bottom: dashed #00012E 4px;
  padding: 80px 0px; }
  #presentation .conteneur {
    align-items: center; }
    #presentation .conteneur .video {
      width: 100%;
      height: 600px;
      background-color: #00012E; }

#detail {
  padding: 80px 0px; }
  #detail .conteneur {
    align-items: center;
    width: 1000px; }
    #detail .conteneur .scannez .mosaique, #detail .conteneur .participez .mosaique {
      border: solid #00012E 4px; }
      #detail .conteneur .scannez .mosaique .texte, #detail .conteneur .participez .mosaique .texte {
        width: 60%; }
        #detail .conteneur .scannez .mosaique .texte .h2, #detail .conteneur .participez .mosaique .texte .h2 {
          background: #C0FFE7;
          border-bottom: solid #00012E 4px; }
        #detail .conteneur .scannez .mosaique .texte div, #detail .conteneur .participez .mosaique .texte div {
          padding: 32px 40px; }
          #detail .conteneur .scannez .mosaique .texte div h4, #detail .conteneur .participez .mosaique .texte div h4 {
            margin-bottom: 16px; }
      #detail .conteneur .scannez .mosaique .image, #detail .conteneur .participez .mosaique .image {
        width: 40%;
        border-left: solid #00012E 4px;
        height: 500px;
        background: center/cover no-repeat url("../img/penderie.png"); }
    #detail .conteneur .scannez .action, #detail .conteneur .participez .action {
      width: 100%;
      height: 80px;
      justify-content: flex-end; }
    #detail .conteneur .comparez {
      margin: 40px 0px; }
      #detail .conteneur .comparez .mosaique {
        border: solid #00012E 4px;
        flex-direction: row-reverse; }
        #detail .conteneur .comparez .mosaique .texte {
          width: 60%; }
          #detail .conteneur .comparez .mosaique .texte .h2 {
            background: #C0FFE7;
            border-bottom: solid #00012E 4px; }
          #detail .conteneur .comparez .mosaique .texte div {
            padding: 32px 40px; }
            #detail .conteneur .comparez .mosaique .texte div h4 {
              margin-bottom: 16px; }
        #detail .conteneur .comparez .mosaique .image {
          width: 40%;
          border-right: solid #00012E 4px;
          height: 600px;
          background: center/cover no-repeat url("../img/penderie.png"); }
    #detail .conteneur .action {
      width: 100%;
      height: 80px;
      justify-content: flex-start; }

#valeur {
  padding: 40px 0px; }
  #valeur .conteneur {
    justify-content: space-between; }
    #valeur .conteneur article {
      text-align: center;
      width: calc((100% - 160px) / 3); }
      #valeur .conteneur article img {
        max-width: 140px; }
      #valeur .conteneur article h3 {
        margin: 16px 0px; }
      #valeur .conteneur article p {
        font-size: 16px; }

#marques {
  padding: 80px 0px; }
  #marques .conteneur {
    align-items: center;
    width: 1000px; }
    #marques .conteneur p {
      margin-top: 16px;
      text-align: center; }
    #marques .conteneur #image-slider {
      position: relative;
      max-width: 1000px; }
      #marques .conteneur #image-slider .splide__arrows .splide__arrow {
        fill: #00012E;
        position: absolute;
        top: 25%;
        outline-style: none;
        background: transparent; }
      #marques .conteneur #image-slider .splide__arrows .splide__arrow--prev {
        left: -3.5rem;
        transform: scaleX(-1); }
      #marques .conteneur #image-slider .splide__arrows .splide__arrow--next {
        right: -3.5rem;
        outline-style: none; }
      #marques .conteneur #image-slider .splide__pagination li {
        list-style: none;
        display: inline-block;
        line-height: 1;
        margin: 0; }

/* Footer */
footer {
  box-sizing: border-box;
  background: #00012E;
  height: 400px;
  width: 100%;
  color: #FFFFFF; }
  footer div:first-child {
    justify-content: space-around;
    height: 100%; }
    footer div:first-child div {
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: calc(100vw / 3);
      max-height: 200px;
      margin: 0 30px; }
      footer div:first-child div div:first-child {
        width: 100%; }
        footer div:first-child div div:first-child img {
          max-width: 330px; }
    footer div:first-child nav {
      justify-content: space-around;
      width: 100%;
      max-width: calc((100vw / 3) * 2);
      margin: 0 30px; }
      footer div:first-child nav hr {
        color: #FFFFFF;
        border: 1px auto; }
      footer div:first-child nav li {
        padding-top: 10px; }
      footer div:first-child nav ul {
        justify-content: space-around;
        display: table-row; }
        footer div:first-child nav ul li {
          list-style: none;
          font-family: "Recoleta-SemiBold", serif;
          font-size: 24px; }
          footer div:first-child nav ul li a {
            text-decoration: inherit;
            font-size: inherit; }
          footer div:first-child nav ul li a:hover {
            text-decoration: underline; }
          footer div:first-child nav ul li ul li {
            font-size: 16px;
            font-family: "Gilroy-Semibold", sans-serif; }
  footer div:last-child {
    height: 68px;
    text-align: center;
    font-size: 16px; }

/* COMPONENTS */
/* Button */
.button {
  /*Button Text Style*/
  font-family: 'Gilroy-Semibold', 'Gilroy', sans-serif;
  font-size: inherit;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  /*Button Color & Border*/
  border: 4px solid #00012E;
  color: #00012E;
  background: #fff;
  outline: none;
  /*Position, Display, Size*/
  position: relative;
  display: inline-block;
  padding: 15px 10px 14px;
  cursor: pointer;
  width: auto; }

.button:after {
  /*Make a:after be as big as button*/
  position: absolute;
  width: 100%;
  height: 100%;
  /*Give a:after Border & Background color*/
  border: 4px solid #00012E;
  background-color: #00012E;
  /*Decide Location of a:after..this gives a           bottom right shadow*/
  left: 4px;
  top: 4px;
  /*Place a:after behind button*/
  z-index: -1;
  content: '';
  /*Animation/Transition Speed*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s; }

.button:hover {
  top: 2px;
  left: 4px; }

.button:hover:after {
  top: -2px;
  left: -2px; }

.button2 {
  color: white;
  background: #00012E;
  width: 40%;
  height: 80px;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600; }

button {
  border: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
