/* HELPERS */

@import "helpers/variables"; //variables toujours en 1st
@import "helpers/reset"; // helpers/_reset.scss
@import "helpers/typo";

// Extends

%flex-column{
	display: flex;
	flex-direction: column;
}

%flex-column-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

%flex-row{
	display: flex;
	flex-direction: row;
}

%flex-row-center{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* STRUCTURE */


@import "structure/body";
@import "structure/header";
@import "structure/main";
@import "structure/footer";

/* COMPONENTS */

@import "components/button";
//@import "component/cards";
