/* Button */

    .button {
        /*Button Text Style*/
        font-family:'Gilroy-Semibold', 'Gilroy', sans-serif;
        font-size: inherit;
        text-align: center;
        font-weight: bold;
        text-decoration:none;
        min-width: 160px;
        /*Button Color & Border*/
        border: 4px solid $blue ;
        color: $blue;
        background: #fff;
        outline: none;
        /*Position, Display, Size*/
        position: relative;
        display: inline-block;
        padding: 15px 10px 14px;
        cursor: pointer;
        width: auto;
            }
.button:after {
        /*Make a:after be as big as button*/
        position: absolute;
        width: 100%;
        height: 100%;
        /*Give a:after Border & Background color*/
        border: 4px solid $blue;
        background-color: $blue;
        /*Decide Location of a:after..this gives a           bottom right shadow*/
        left: 4px;
        top: 4px;
        /*Place a:after behind button*/
        z-index: -1;
        content: '';
        /*Animation/Transition Speed*/
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        
         }
.button:hover {
          top:2px;
          left:4px;
            }
 .button:hover:after   {
         top: -2px;
         left: -2px;
            }

.button2{
	color: white;
	background: $blue;
	width: 40%;
	text-align: center;
	padding: 24px;
	box-sizing: border-box;
	font-size: $titre4;
    font-weight: 600;
    display: block;
	
}



button {

	border: 0;
	margin: 0;
	// overflow: visible;
	// font-size: 100%;
	// font-family: inherit;
	// text-decoration: none;
	// text-transform: none;

	// cursor: pointer;
	// display: inline-block;
	// border-radius: 30px;

	// text-align: center;
	// padding: 12px 16px;

//	transition: transform 250ms ease-in-out, transform 150ms ease;
//	-webkit-appearance: none;
//	-moz-appearance: none;
//
//	&:hover, &:focus {
//		background: white;
//		color: red;
//		border-color: white;
//	}
//
//	&:focus{
//		outline: 1px solid #fff;
//		outline-offset: -4px;
//	}
//
//	&:active{
//		transform: scale(0.99);
//	}
}

.vignettes-stores{
    @extend %flex-row;
    justify-content: space-around;
    width: 40%;
    img{
        margin: $margin_2;
        height: 50px;
    }
}
