/* Typo */

body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: $courant;
}

strong{
	font-weight: 700;
}

h1{
	font-size: $titre1;
}

h2{
	font-size: $titre2;
}

h3{
	font-size: $titre3;
}
