// font-size

$titre1: 56px;
$titre2: 40px;
$titre3: 32px;
$titre4: 24px;
$courant: 20px;
$paragraphe1: 16px;


// colors

$blue: #00012E;
$pink: #FFDCC9;
$green: #C0FFE7;
$white: #FFFFFF;


// medias

$widthTablet: 1000px;
$widthPhone: 800px;

// margins

$margin_1: 16px;
$margin_2: 24px;
$margin_3: 32px;
$margin_4: 40px;
$margin_max: 80px;




