// font-size

$titre1: 48px;
$titre2: 32px;
$titre3: 24px;
$titre4: 20px;
$courant: 18px;
$paragraphe1: 16px;

$titre1_small: 40px;
$titre2_small: 32px;
$titre3_small: 24px;
$titre4_small: 20px;

// colors

$blue: #00012E;
$pink: #FFDCC9;
$green: #C0FFE7;
$white: #FFFFFF;


// medias

$widthTablet: 1100px;
$widthPhone: 800px;

$breakpoints: (
'small': $widthPhone,
'medium': $widthTablet,
'large': 1200px	
) !default;

// margins
$margin_0: 8px;
$margin_1: 16px;
$margin_2: 24px;
$margin_3: 32px;
$margin_4: 40px;
$margin_5:48px;
$margin_6:64px;
$margin_max: 80px;




