// font-size

$titre1: 56px;
$titre2: 40px;
$titre3: 24px;
$titre3: 20px;
$courant: 24px;
$paragraphe1: 20px;


// colors

$yellow: #00012E;
$pink: #FFDCC9;
$green: #C0FFE7;
$white: #FFFFFF;


// medias

$widthTablet: 1000px;
$widthPhone: 800px;

// margins

$margin_1: 10px;
$margin_2: 20px;
$margin_3: 40px;
$margin_max: 80px;




