/* À propos */

#a-propos{

	@include responsive(small){
		display: flex;
		flex-direction: column;
	}
	.en-tete{
		//	@extend %section;
		//	background-color: $green;
		//	
		////	padding: 80px 0px;
		//	border-bottom: dashed $blue 4px;
		//	
		//	min-height: 320px;
		//	
		//	.conteneur{
		//		@extend %flex-column-center;
		//		align-items: center;
		//		text-align: center;
		//		
		//		margin: 80px 0;
		//		
		//		h1{
		//			width: 65%;
		//			margin-bottom: $margin_1;
		//		}
		//		p{
		//			width: 65%;
		//		}
		//	}
		@include responsive(small){
			order:0;
		}
	}

	#chiffre{
		@extend %section;
		padding: $margin_max 0px
			0px 0px;

		@include responsive(small){
			order: 2;
			padding-top: $margin_2;
		}

		.conteneur{
			@extend %flex-column;
			align-items: center;

			@include responsive(small){
				min-width: 75vw;
				max-width: 85vw;
			}
			h2{
				margin-bottom: $margin_2;

				@include responsive(small){
					text-align: center;
				}
			}
			.row{
				margin-bottom: $margin_4;
				@extend %flex-row;
				align-items: center;  
				justify-content: center;

				@include responsive(small){
					display: flex;
					flex-direction: column;
				}

				h3{
					width:25%;

					@include responsive(small){
						width: 100%;
						margin-top: $margin_2;
						text-align: center;
					}
				}

				img{
					margin:0px $margin_4
				}

				span{
					background: $green;
				}
			}

			.column{
				@extend %flex-row;
				justify-content:space-between;
				width: 80%;

				@include responsive(small){
					flex-direction: column;
					justify-content: center;

					width: 100%;				
				}

				article{
					text-align:  center;
					width: calc((100% - 160px) / 3);

					@include responsive(small){
						width: auto;

						border: solid $blue 4px;
						margin-bottom: -4px;
						padding: $margin_1;

						&:last-of-type{
							margin-bottom: 0px;
						}
					}

					h3{
						background-color: $green;
						display: inline;
					}
					p{
						font-size: $paragraphe1;
						line-height: 1.5em;

						@include responsive(small){
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	.manifest{
		@extend %section;
		padding: 0px;

		//		&:first-of-type{
		//			padding-top: $margin_max;
		//		}
		//		&:last-of-type{
		//			padding-bottom: $margin_max;
		//		}
		.conteneur {
			@include responsive(small){
				min-width: 75vw;
				max-width: 85vw;
			}
		}

		h4{
			margin-top: $margin_1;
		}
		p{
			margin-bottom: $margin_1;

			&:last-of-type{
				margin-bottom: 0px;
			}
			&:first-of-type{
				margin-top: $margin_1;
			}
		}
		span{
			font-weight: bold;
		}
	}

	div.manifest{
		padding-top: $margin_max;

		@include responsive(small){
			order:1;
			padding-top: $margin_6;
		}
	}
	section.manifest{
		padding-bottom: $margin_max;

		@include responsive(small){
			order:2;
			padding-top: $margin_2;
		}
	}

	#equipe{
		@extend %section;

		background: $pink;

		border-top: dashed $blue 4px;
		border-bottom: dashed $blue 4px;
		padding: $margin_max 0px;

		@include responsive(small){
			order:2;
			padding: $margin_5 0px;
		}
		.conteneur{
			@extend %flex-column;
			align-items: center;
			text-align: center;
			img{
				border: solid $blue 4px;
				border-radius: 100%
			}
			.presentation-equipe{
				@extend %flex-column;
				align-items: center;
				text-align: center;
				width: 65%;
				margin-bottom: $margin_3;
				p{
					margin-top: $margin_1;
				}
			}
			.row1{
				@extend %flex-row;

				justify-content: space-around;
				width: 80%;
				flex-flow: wrap;
				@include responsive(small){

				}

			}
			.row2{
				@extend %flex-row;
				justify-content: space-around;
				width: 70%;

				@include responsive(small){
					flex-flow: wrap;
				}
				
				@media screen and (max-width: 780px) {
					width: 100%;
					
				}
			}
		}
	}

	#methode{
		@extend %section;
		padding: $margin_max 0px;

		@include responsive(small){
			order:2;
			padding: $margin_5 0px;
		}
		.conteneur{
			@extend %flex-column;
			align-items: center;
			text-align: center;

			@include responsive(small){
				min-width: 75vw;
				max-width: 90vw;

				h2{
					order: 1;
					//					display: block;
				}
				p{
					order : 1;
				}
				img{
					order: 0;
				}
			}

			p{
				width: 80%;
				margin-top: $margin_1;
				margin-bottom: $margin_2;
				@include responsive (small){
					width: auto;
				}
			}

			div{
				@include responsive(small){
					width: 100%;
					border: 0px;
					margin: 0px;
				}
			}
			img{
				margin-top: $margin_1;
				border: solid $blue 4px;

				@include responsive(small){
					width: 100%;
					margin: 0px
						0 $margin_1 -4px;
				}
				@include responsive(medium){
					width: 100%;
					margin: 0px
						0 $margin_1 -4px;
				}

			}
		}
	}
}