/* Blog */

#blog{
	.en-tete{
		//		@extend %section;
		//		background-color: $green;
		//
		//	//	padding: 80px 0px;
		//		border-bottom: dashed $blue 4px;
		//
		//		min-height: 320px;
		//
		//		.conteneur{
		//			@extend %flex-column-center;
		//			align-items: center;
		//			text-align: center;
		//
		//			margin: 80px 0;
		//
		//			h1{
		//				width: 65%;
		//				margin-bottom: $margin_1;
		//			}
		//			p{
		//				width: 65%;
		//			}
		//		}
	}

	#articles{
		@extend %section;
		padding: $margin_max 0px;

		.conteneur{
			@extend %flex-column;
			align-items: center;
			width: 900px;
			
			@include responsive(small){
				min-width: 75vw;
				max-width: 85vw;
			}

			#article1{
				.image{
					background-image: url(../img/article1.png);
				}
			}

			#article2{
				.image{
					background-image: url(../img/article2.png);
				}
			}

			#article3{
				.image{
					background-image: url(../img/article3.png);
				}
			}

			#article4{
				.image{
					background-image: url(../img/article4.png);
				}
			} 
		}
	}
}