/* Body */
body{
    padding-top: $margin_5;
    border: solid $blue 4px;
    %section{
        @extend %flex-row-justify-center;
    }
    .conteneur{
        width: 1100px;
        .bigicon{
            max-width: 120px;
        }
		
		@include responsive(medium){
			
			width: 100%;
			.bigicon{
            max-width: 100px;
        }
		}
    }

    @media (max-width: $widthPhone){
        border: solid $white 0px;
    }
}
