/* Footer */

footer{
	box-sizing: border-box;
	//	position: absolute;
	//	bottom: 0;
	background: $blue;
	height: 400px;
	width: 100%;
	color: $white;

	@extend %flex-column-center;
	//	text-align: center;
	//	align-items: center;

	div:first-child{
		@extend %flex-row-center;
		justify-content: space-around;
		//		background: yellow;
		height: 100%;

		div{
			//			background: green;
			@extend %flex-column;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			max-width: calc(100vw / 3);
			max-height: 200px;

			margin: 0 30px;

			div:first-child{
				width: 100%;
				img{
					max-width: 330px;
				}
			}
		}

		nav{
			//			background: red;
			@extend %flex-row;
			justify-content: space-around;
			width: 100%;
			max-width: calc((100vw / 3) * 2);
			margin: 0 30px;

			hr{
				color: $white;
				border: 1px auto;
			}

			li{
				padding-top: 10px;

				a{
					text-decoration: inherit;
					font-size: inherit;
				}
				a:hover{
					text-decoration: underline;
				}
			}

			ul{
				@extend %flex-row-center;
				justify-content: space-around;

				display:table-row;

				li{
					//					display: table-row;
					list-style: none;
					font-family: "Recoleta-SemiBold", serif;
					font-size: $titre3;




					ul{
						li{
							font-size: $paragraphe1;
							font-family: "Gilroy-Semibold", sans-serif;
						}

						//						a{
						//							font-size: $paragraphe1;
						//						}
					}
				}
			}
		}
	}

	div:last-child{
		@extend %flex-column-center;
		height: 68px;
		text-align: center;
		font-size: $paragraphe1;
	}
}
