/* Nav */
header{
	nav{
		@extend %flex-column;
		justify-content: space-between;

		position: fixed;
		z-index: 1;

		box-sizing: border-box;

		width: 70px;
		height: 100vh;

		padding: $margin_1 0;

		aside{
			@extend %flex-column;
			//		height: 150px;
			//		background: red;

			a{
				margin-top: $margin_1;
			}
		}
	}
}

