/* Main */

#hero{
    padding: $margin_max 0px;
    box-sizing: border-box;
    @extend %flex-row-justify-center;
    .conteneur{
        @extend %flex-column;
        align-items: center;
        h1{
            font-size: 56px;
            width: 65%;
            text-align: center;
        }
        h2{
            margin-top: $margin_3;
        }
        p{
            margin-top: $margin_1;
            width: 75%;
            text-align: center;
        }
        .button{
            margin-top: $margin_2;
        }
    }
}

#presentation{
    background: $pink;
    border-top: dashed $blue 4px;
    border-bottom: dashed $blue 4px;
    @extend %flex-row-justify-center;
    padding: $margin_max 0px;
    .conteneur{
        @extend %flex-column;
        align-items: center; 
        .video{
            width: 100%;
            height: 600px;
            background-color: $blue;
        }
    }
}

#detail{
    @extend %flex-row-justify-center;
    padding: $margin_max 0px;
    .conteneur{
        @extend %flex-column;
        align-items: center;
        width: 1000px;

        .scannez, .participez {
            .mosaique{
                border: solid $blue 4px;
                @extend %flex-row;

                .texte{
                    width: 60%;
                    .h2{
                        background: $green;
                        border-bottom: solid $blue 4px;
                    }
                    div{
                        padding: $margin_3 $margin_4;
                        h4{
                            margin-bottom: $margin_1;
                        }
                    }
                }
                .image{
                    width: 40%;
                    border-left: solid $blue 4px;
                    height: 500px;
                    background: center / cover no-repeat url("../img/penderie.png");
                }
            }
            .action{
                width: 100%;
                height: 80px;
                @extend %flex-row;
                justify-content: flex-end;
            }
        }

        .comparez{
            margin: $margin_4 0px;
            .mosaique{
                border: solid $blue 4px;
                @extend %flex-row;
                flex-direction: row-reverse;
    
                .texte{
                    width: 60%;
                    .h2{
                        background: $green;
                        border-bottom: solid $blue 4px;
                    }
                    div{
                        padding: $margin_3 $margin_4;
                        h4{
                            margin-bottom: $margin_1;
                        }
                    }
                }
                .image{
                    width: 40%;
                    border-right: solid $blue 4px;
                    height: 600px;
                    background: center / cover no-repeat url("../img/penderie.png");
                }
            }
        }
        .action{
            width: 100%;
            height: 80px;
            @extend %flex-row;
            justify-content: flex-start;
        }
    }
}

#valeur{
    @extend %flex-row-justify-center;
    padding: $margin_4 0px;
    .conteneur{
        @extend %flex-row;
        justify-content:space-between;
        article{
            text-align:  center;
            width: calc((100% - 160px) / 3);

            img{
                max-width: 140px;
            }
            h3{
                margin: $margin_1 0px;
            }
            p{
                font-size: $paragraphe1;
            }
        }
    }
}

#marques{
    @extend %flex-row-justify-center;
    padding: $margin_max 0px;
    .conteneur{
        @extend %flex-column;
        align-items: center;
        width: 1000px;

        p{
            margin-top: $margin_1;
            text-align: center;
        }
        #image-slider{  
            position: relative;
            max-width: 1000px;
            .splide__arrows{
                .splide__arrow{
                    fill: $blue;
                    position: absolute;
                    top: 25%;
                    outline-style:none;
                    background: transparent;

                }
                .splide__arrow--prev{
                left: -3.5rem;
                transform: scaleX(-1);
                }
                .splide__arrow--next{
                    right: -3.5rem;
                    outline-style:none;
                    }
                
            }
            .splide__pagination{
                // bottom:-2rem;
                // left:50%
                li{
                    list-style: none;
                    display: inline-block;
                    line-height: 1;
                    margin: 0;
                    .splide__pagination__page{
                        // padding: 0;
                        // width: 10px;
                        // height: 10px;
                        // border-radius: 50%;
                        // margin: 1rem;
                        // background: $blue;
                        // cursor: pointer;
                        // display: block;

                    }
                

                }
            }
        }
    }
}

