/* Partenaire */

#partenaire{
	.en-tete{
		//		@extend %section;

		background-color: $pink;

		//		padding: 80px 0px;
		//		border-bottom: dashed $blue 4px;

		@include responsive(small){
			margin: auto 0;
			padding: auto 0;
			//			background: red;
		}
	}

	#scheme{
		@extend %flex-row-justify-center;
		padding: $margin_max 0px;
		@extend %border-bottom-dashed;
		//		background: red;

		.conteneur{
			position: relative;
			@extend %flex-column;
			align-items: center;

			text-align: center;

			@include responsive(medium){
				min-width: 75vw;
				max-width: 85vw;
			}

			h2{
				margin-bottom: $margin_2;

				@include responsive(medium){
					font-size: $titre2_small;
				}
			}
			p{
				padding: $margin_1 0;
			}

			.subtitles{
				&:first-of-type{
					margin-bottom: $margin_1;
				}
				&:last-of-type{
					margin-top: $margin_1;
				}
			}

			.toggleHover{
				fill: $blue;
			}
			.toggleHover .hover-text{
				fill: white;
			}

			>div{
				//				background: blue;
				position: absolute;
				top:460px;
				margin-left: 18px;

				@include responsive(medium){
					position: relative;
					top: inherit;

					padding: $margin_2 0;
					margin-left: 0px;
				}

				article{
					@extend %flex-column-center;
					@extend %border-solid;

					padding: $margin_2 $margin_2;
					min-height: 150px;
					height: auto;

					@include responsive(medium){
						margin: -4px 0px -4px 0px;

						&:nth-of-type(even){

							background: $blue;
							color: white;

							p{
								color: white;
							}
						}
					}

					@inclue responsive(small){
						padding: $margin_0 $margin_0;
						width: auto;
						height: auto;
					}

					p{
						width: 300px;

						padding: 0;
						margin: 0;

						@inclue responsive(medium){
							font-size: $emphase;
							font-weight: 400;
						}
						@inclue responsive(small){
							
							width: auto;
							max-width: 200px;
						}
					}
				}
			}

			svg{
				@include responsive(medium){
					display: none;
				}
			}
		}
	}

	#valeurs{
		@extend %flex-row-justify-center;
		padding: 0px 0px;
		padding-bottom: $margin_max;

		.conteneur{
			@extend %flex-column;
			align-items: center;
			width: $widthTablet;

			@include responsive(small){
				max-width: 85vw;
			}

			>h2{
				text-align: center;
				padding: $margin_max 0px $margin_4 0px; 

				@include responsive(small){
					font-size: $titre2_small;
				}
			}
		}

		.buttonCard{
			>article:nth-child(odd){
				>:nth-child(1){
					//					border: solid $blue 4px;
					//					@extend %flex-row;

					>:nth-child(2){
						width: 60%;
						//						border-left: solid $blue 4px;
						height: inherit;

						background: center / cover no-repeat url("../img/click&collect_tissus.jpg");
						//						background: center / cover no-repeat url("../img/click&collect1.jpg");
					}
				}
			}

			>article:nth-child(even){
				//				margin: $margin_4 0px;
				>:nth-child(1){
					>:nth-child(2){
						width: 60%;
						//						border-right: solid $blue 4px;
						height: inherit;

						background: center / cover no-repeat url("../img/shop.png");
					}
				}
			}

			@media (max-width: $widthPhone){
				>article:nth-child(odd){
					>:nth-child(1){
						flex-direction: column;
						>:nth-child(1){
							width: 100%;

							h2{
								text-align: center;
							}

							div:last-of-type{
								padding: $margin_2 $margin_2;

								p{
									text-align:center;

									font-size: 18px;
									font-weight: 400;
									margin: 0 0 $margin_1;


									&:last-of-type{
										margin-bottom: 0px;
									}
								}
							}
						}

						>:nth-child(2){
							width: 100%;
							border-top: solid $blue 4px;
							border-left: solid white 0px;
							height: 400px;
						}
					}
					>:nth-child(2) a{
						width: 100%;
					}
				}

				>article:nth-child(even){
					>:nth-child(1){
						flex-direction: column;
						>:nth-child(1){
							width: 100%;

							h2{
								text-align: center;
								font-size: 28px;
							}

							div:last-of-type{
								padding: $margin_2 $margin_2;

								p{
									text-align:center;

									font-size: 18px;
									font-weight: 400;
									margin: 0 0 $margin_1;


									&:last-of-type{
										margin-bottom: 0px;
									}
								}
							}

						}
						>:nth-child(2){
							width: 100%;
							border-top: solid $blue 4px;
							border-right: solid white 0px;
							height: 400px;
						}
					}
					>:nth-child(2) a{
						width: 100%;
					}
				}
			}
		}
	}

	#service{
		@extend %flex-row-justify-center;
		background: $pink;
		border-top: dashed $blue 4px;
		border-bottom: dashed $blue 4px;

		.conteneur{
			@extend %flex-column;
			padding: $margin_max 150px;
			justify-content: center;
			align-items: center;
			text-align: center;

			max-width: 60vw;

			border-left: dashed $blue 4px;
			border-right: dashed $blue 4px;
			margin: 0 -4px;
			//			background: blue;

			@include responsive(small){
				width-min: 75vw;
				widht-max: 85vw;
			}
			@include responsive(medium){
				//				width-min: 75vw;
				//				widht-max: 85vw;
				border: none;
				margin: 0 0;
				max-width: 80vw;
				padding: $margin_max 0px;
			}

			>div:first-child{
				@extend %flex-column;

				align-items: center;
				text-align: center;

				width: 90%;
				margin-bottom: $margin_3;

				@include responsive(small){
					width: 80vw;
				}

				p{
					margin-top: $margin_1;
					@include responsive(small){
						margin: $margin_3 0 $margin_2 0;
					}
				}
			}

			>div:last-child{
				@extend %flex-column-center;
				align-items: center;;

				width: 90%;

				@include responsive(small){
					align-items: center;
				}

				.capsule-left {
					width: 500px;

					align-self: flex-start;


					@include responsive(small){
						width: 80vw;
						margin: -4px 0;

						align-self: auto;
					}

					.mosaique{
						@extend %flex-row-center;

						width: inherit;
						border: solid $blue 4px;

						//					padding-left: 200px 0px;
					}
				}

				.capsule-left:last-child{
					@include responsive(small){
						margin-left: 0px;
					}
				}

				.capsule-right{
					//				background: green;
					width: 500px;

					margin:  $margin_4 0px;
					//					margin-right: 100px;

					align-self: flex-end;

					@include responsive(small){
						width: 80vw;

						margin: 0px 0px;
						margin-right: 0px;

						align-self: auto;
					}

					.mosaique{
						@extend %flex-row-center;

						border: solid $blue 4px;
						width: inherit;
						//					margin-left: 350px;

						@include responsive(small){
							margin: $margin_3 0;
						}
					}

					.texte{
						background: white;

						.h2{
							@include responsive(small){
								background: $blue;

								h2{
									color: white;
								}
							}
						}
					}
				}

				.texte{
					background: white;
					width: inherit;

					.h2{
						border-bottom: solid $blue 4px;

						@include responsive(small){
							padding :$margin_2;

							h2{
								font-size: 28px;
							}
						}
					}
					div{
						padding: $margin_3 $margin_4;

						@include responsive(small){
							padding: $margin_3 $margin_2;

							p{
								//										font-size: 20px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}

	#manifest{
		padding-bottom: $margin_max;
		h4{
			margin-top: $margin_1;
		}
		p{
			margin-top: $margin_1;
		}
		span{
			font-weight: bold;
		}
	}

	#marques{
		@extend %section;
		padding: $margin_max 0px;
		.conteneur{
			@extend %flex-column;
			align-items: center;
			width: 1000px;

			p{
				margin-top: $margin_1;
				text-align: center;
			}

			#image-slider{  
				margin-top: $margin_4;
				position: relative;
				max-width: 1000px;
				.splide__arrows{
					.splide__arrow{
						fill: $blue;
						position: absolute;
						top: 25%;
						outline-style:none;
						background: transparent;

					}
					.splide__arrow--prev{
						left: -3.5rem;
						transform: scaleX(-1);
					}
					.splide__arrow--next{
						right: -3.5rem;
						outline-style:none;
					}
				}
				.splide__pagination{
					li{
						list-style: none;
						display: inline-block;
						line-height: 1;
						margin: 0;

					}
				}
			}
		}
	}
}